<div>
    <h1>HEADER</h1>
    <p>(Composant 1)</p>
    <ul>
        <li><a [routerLink]="['']">Binding</a></li>
        <!-- <li><a [routerLink]="['/about-us']">À propos</a></li> -->
        <li><a [routerLink]="['/directives']">Directives</a></li>
        <li><a [routerLink]="['/input-output']">Input-Output</a></li>
        <li><a [routerLink]="['/template-driven-form']">Formulaires</a></li>
        <li><a [routerLink]="['/component-a']">Services</a></li>
        <li><a [routerLink]="['/rxjs']">RxJS</a></li>
        <li><a [routerLink]="['**']">404-error</a></li>
    </ul>
</div>