div {
    background-color: #5d48ffff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    h1 {
        letter-spacing: 3px;
    }
    p {
        margin-bottom: 25px;
    }
}