<h1>Ingrédients pour une bonne raclette</h1>
<ul>
    <li>Cornichons</li>
    <li [ngClass]="{'is-vital': isVital}">Fromage</li>
    <li [ngStyle]="{'background-color': isVital ? 'red' : ''}">Pommes de terre</li>
</ul>


<p *ngIf="isAdmin">Bonjour, vous êtes connecté en tant que ADMIN 🤓</p>
<p *ngIf="!isAdmin">Bonjour, vous êtes connecté en tant que USER</p>


<button (click)="switchAdmin()">Changer l'état</button>

<div *ngIf="isAdmin">
    <ul *ngFor="let animal of animals">
        <li>{{animal}}</li>
    </ul>
    <h2>Ces animaux s'affichent uniquement lorsque je suis administrateur</h2>
</div>

