<p><b>Composant B</b></p>
<p>Bonjour, je suis le composant B et je remplie tout un tas de fonctionnalités géniales qui justifient que j'existe. <br> Ces fonctionnalités sont pour la plupart différentes des celles gérées par les autres composants.</p>
<p>En revanche, il arrive que certaines soient communes. <br>Par exemple, je partage avec le composant A le fait d'afficher les dates ci-dessous :</p>
<h1>Dates transformées par le service :</h1>
<p>Date : {{date}}</p>
<p>Date in string : {{dateString}}</p>
<p>Date  in number (timestamp): {{dateNumber}}</p>
<a [routerLink]="['/component-a']">Composant A</a>
