.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height:  95vh;
    .sub-container-top, .sub-container-bottom{
        display: flex;
        justify-content: space-between;
    }
}