.card {
    padding: 15px;
    display: flex;
    margin: 10% auto 0;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 9px;
    width: fit-content;
    img {
        max-width: 300px;
    }
}
